﻿<head>

		<title>A系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>A系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/05/15/image001502b912413a1242d.md.jpg" alt="image001502b912413a1242d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0023858af272fe57510.md.jpg" alt="image0023858af272fe57510.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image003e51f7ebe6f0a026a.md.jpg" alt="image003e51f7ebe6f0a026a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image004cfe1ce873e11a471.md.jpg" alt="image004cfe1ce873e11a471.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0056e83682066a53dd0.md.jpg" alt="image0056e83682066a53dd0.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0066451ed764662386a.md.jpg" alt="image0066451ed764662386a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image00734d27865b2b517e5.md.jpg" alt="image00734d27865b2b517e5.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image009c32d0ba9ad20af84.md.jpg" alt="image009c32d0ba9ad20af84.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image008ce97cdb6dbd53a28.md.jpg" alt="image008ce97cdb6dbd53a28.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image010c90761e45c45abf5.md.jpg" alt="image010c90761e45c45abf5.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image011852cf3f4b702dea1.md.jpg" alt="image011852cf3f4b702dea1.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0122b306a4497234bed.md.jpg" alt="image0122b306a4497234bed.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image013df20133f5efedaf0.md.jpg" alt="image013df20133f5efedaf0.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0141833d813b6416490.md.jpg" alt="image0141833d813b6416490.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image015e65512b727d46573.md.jpg" alt="image015e65512b727d46573.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image016a53d474fb1d6f0b8.md.jpg" alt="image016a53d474fb1d6f0b8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image01744bcd0b7c3336e9f.md.jpg" alt="image01744bcd0b7c3336e9f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image018120aee471c695cd9.md.jpg" alt="image018120aee471c695cd9.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image019d24bedf547e18414.md.jpg" alt="image019d24bedf547e18414.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0201b8c6d28275db035.md.jpg" alt="image0201b8c6d28275db035.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image02144f36420862bc772.md.jpg" alt="image02144f36420862bc772.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image02201f2932802f1c05b.md.jpg" alt="image02201f2932802f1c05b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0239599e8dc4cc36f0e.md.jpg" alt="image0239599e8dc4cc36f0e.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image024a59477ab7ea3dd74.md.jpg" alt="image024a59477ab7ea3dd74.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0258be2321c7a2ded0a.md.jpg" alt="image0258be2321c7a2ded0a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0261f3ebcc59289a0f3.md.jpg" alt="image0261f3ebcc59289a0f3.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image027b2c13cf1db46504d.md.jpg" alt="image027b2c13cf1db46504d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0282f8b81f5da87debf.md.jpg" alt="image0282f8b81f5da87debf.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image02966fc4e38730cbf8d.md.jpg" alt="image02966fc4e38730cbf8d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image031ec2a469c8a0f3c9f.md.jpg" alt="image031ec2a469c8a0f3c9f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image030de7e6bb37652ecb7.md.jpg" alt="image030de7e6bb37652ecb7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image032c314504d19c322b1.md.jpg" alt="image032c314504d19c322b1.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image033777567242ccea904.md.jpg" alt="image033777567242ccea904.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0349d9eb0454860da04.md.jpg" alt="image0349d9eb0454860da04.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image035662a5ceead8f0f5f.md.jpg" alt="image035662a5ceead8f0f5f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0365944ff19b0eb73e2.md.jpg" alt="image0365944ff19b0eb73e2.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image037534d0727a30b08e9.md.jpg" alt="image037534d0727a30b08e9.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0384cb89f42257a939d.md.jpg" alt="image0384cb89f42257a939d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0397a3a79ea06ede67f.md.jpg" alt="image0397a3a79ea06ede67f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image040f885e333382161ce.md.jpg" alt="image040f885e333382161ce.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image041687f9ed8ec19eca6.md.jpg" alt="image041687f9ed8ec19eca6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image042bc5cab13d20477d1.md.jpg" alt="image042bc5cab13d20477d1.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0433e748555b1c13d21.md.jpg" alt="image0433e748555b1c13d21.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image044a7e3652b90c6bc4c.md.jpg" alt="image044a7e3652b90c6bc4c.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image045e74be84f1866e0ef.md.jpg" alt="image045e74be84f1866e0ef.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image046aa87c059212d64f6.md.jpg" alt="image046aa87c059212d64f6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image047b23c9407ad3ad71c.md.jpg" alt="image047b23c9407ad3ad71c.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image048d7b0bf685b3b55d7.md.jpg" alt="image048d7b0bf685b3b55d7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image04995de73a785ad45ac.md.jpg" alt="image04995de73a785ad45ac.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0503a554bc08b7fa6d8.md.jpg" alt="image0503a554bc08b7fa6d8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image051350a5ed90eb77636.md.jpg" alt="image051350a5ed90eb77636.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image052756ae06b86079a01.md.jpg" alt="image052756ae06b86079a01.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image05389cd0191a4d105d6.md.jpg" alt="image05389cd0191a4d105d6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image054231e5f12fc25b1a6.jpg" alt="image054231e5f12fc25b1a6.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image055a41229c7d4ca7e35.md.jpg" alt="image055a41229c7d4ca7e35.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image05603242722aec130a4.md.jpg" alt="image05603242722aec130a4.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0573635eca5eba8e6cb.md.jpg" alt="image0573635eca5eba8e6cb.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0581a2a78a3824328ee.md.jpg" alt="image0581a2a78a3824328ee.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0592f79b1f550cc8d6c.md.jpg" alt="image0592f79b1f550cc8d6c.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image060f9000343eb926127.md.jpg" alt="image060f9000343eb926127.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image061621dae0a78929081.md.jpg" alt="image061621dae0a78929081.md.jpg" border="0"> 
   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>