﻿<head>

		<title>B系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>B系列</h1>
</div>

<img src="https://www.simipic.com/images/2019/05/15/image290127b49e1bae45d3a.md.jpg" alt="image290127b49e1bae45d3a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2930ce20b17109235d3.md.jpg" alt="image2930ce20b17109235d3.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image296a6442ab174ab3fcd.md.jpg" alt="image296a6442ab174ab3fcd.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image30311246fef90e6c245.md.jpg" alt="image30311246fef90e6c245.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image3021ff84bfaf704eaac.md.jpg" alt="image3021ff84bfaf704eaac.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image29112736ec5df9e3aa4.md.jpg" alt="image29112736ec5df9e3aa4.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image29234c888bac6098f76.md.jpg" alt="image29234c888bac6098f76.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image294391925e2efb3a5d6.md.jpg" alt="image294391925e2efb3a5d6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image295fd02457b3657f986.md.jpg" alt="image295fd02457b3657f986.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image297597f33673749b2ed.md.jpg" alt="image297597f33673749b2ed.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image298762d1cd58f1738a9.md.jpg" alt="image298762d1cd58f1738a9.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image29958db03eacc81a7d5.md.jpg" alt="image29958db03eacc81a7d5.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image300251a95c39aea536f.md.jpg" alt="image300251a95c39aea536f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image301cb51976566926c9c.md.jpg" alt="image301cb51976566926c9c.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image30418a8e0afe3138db5.md.jpg" alt="image30418a8e0afe3138db5.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image305bb98da9dac196ecf.md.jpg" alt="image305bb98da9dac196ecf.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image306c0483c931b95b315.md.jpg" alt="image306c0483c931b95b315.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image3076ff4a0f77c9203d1.md.jpg" alt="image3076ff4a0f77c9203d1.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image308c2437c239a95565a.md.jpg" alt="image308c2437c239a95565a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image30970ee833a51e82f09.md.jpg" alt="image30970ee833a51e82f09.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image310399e0a440e4a8b2d.jpg" alt="image310399e0a440e4a8b2d.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image312785592bd8449c7e8.md.jpg" alt="image312785592bd8449c7e8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image311003652446666f772.jpg" alt="image311003652446666f772.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image313a26f17564d4acfd0.md.jpg" alt="image313a26f17564d4acfd0.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image314f075abcf99806a6a.md.jpg" alt="image314f075abcf99806a6a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image315e4661cf484d6ad27.md.jpg" alt="image315e4661cf484d6ad27.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image3167e84dae3d4ca9d7d.md.jpg" alt="image3167e84dae3d4ca9d7d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image31771ba18f2ba4db61b.md.jpg" alt="image31771ba18f2ba4db61b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image318953b8cdb2ae9e6cb.md.jpg" alt="image318953b8cdb2ae9e6cb.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image31914fea2c8839cf1e2.md.jpg" alt="image31914fea2c8839cf1e2.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image320ad9804a222dc237b.md.jpg" alt="image320ad9804a222dc237b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image3211cc92dfec1cdf7d8.md.jpg" alt="image3211cc92dfec1cdf7d8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image322584fb2d827339d22.md.jpg" alt="image322584fb2d827339d22.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image32322ec8b06c7dc54a2.md.jpg" alt="image32322ec8b06c7dc54a2.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image32407cc3b427483e2b6.md.jpg" alt="image32407cc3b427483e2b6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image3256abd5d66ccfb3883.md.jpg" alt="image3256abd5d66ccfb3883.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image326ea3281999e66efd7.md.jpg" alt="image326ea3281999e66efd7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image3272719ae42e76f7c99.md.jpg" alt="image3272719ae42e76f7c99.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image328c194ae2ae9cd4131.md.jpg" alt="image328c194ae2ae9cd4131.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image329a9fbace8acf068b4.md.jpg" alt="image329a9fbace8acf068b4.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image33016855d30a08f58f4.md.jpg" alt="image33016855d30a08f58f4.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image33133601c45647cd5b3.md.jpg" alt="image33133601c45647cd5b3.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image33261b6347f5420af4f.md.jpg" alt="image33261b6347f5420af4f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image333bbab4cf1a1aaa5a8.md.jpg" alt="image333bbab4cf1a1aaa5a8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image334c1bfc56389d186d0.jpg" alt="image334c1bfc56389d186d0.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image33523f51698ee27e060.md.jpg" alt="image33523f51698ee27e060.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image3368c4703ed0d211581.md.jpg" alt="image3368c4703ed0d211581.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image337e1820dd54e360dc1.md.jpg" alt="image337e1820dd54e360dc1.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image3380b19bab933787536.md.jpg" alt="image3380b19bab933787536.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image339683f4cc5ec983e97.md.jpg" alt="image339683f4cc5ec983e97.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image340731481ee1a4443f8.md.jpg" alt="image340731481ee1a4443f8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image341186c73b860009dd7.md.jpg" alt="image341186c73b860009dd7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image342c0ebe20e3ae50468.md.jpg" alt="image342c0ebe20e3ae50468.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image343ec36ce48d61ec07f.md.jpg" alt="image343ec36ce48d61ec07f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image344215ade2107cb56e6.md.jpg" alt="image344215ade2107cb56e6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image34546862bf8f44dc85d.md.jpg" alt="image34546862bf8f44dc85d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image346530afa842a808ce4.md.jpg" alt="image346530afa842a808ce4.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image3470ab417715ad683f9.md.jpg" alt="image3470ab417715ad683f9.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image34818188ecc2c6775dc.md.jpg" alt="image34818188ecc2c6775dc.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image34925cabb1132cd6058.jpg" alt="image34925cabb1132cd6058.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image35088fb6580fd1453ce.md.jpg" alt="image35088fb6580fd1453ce.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image35111d59a9db030e7a5.md.jpg" alt="image35111d59a9db030e7a5.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image353f004310990d285a7.jpg" alt="image353f004310990d285a7.jpg" border="0"> 
   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>