﻿<head>

		<title>D系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>D系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/05/15/image126565d2d1631b0680d.md.jpg" alt="image126565d2d1631b0680d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image127c9b30e321ef95298.md.jpg" alt="image127c9b30e321ef95298.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image128f91848d28b583376.jpg" alt="image128f91848d28b583376.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image129577ff8d5d6bfc3c0.md.jpg" alt="image129577ff8d5d6bfc3c0.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image130c8a61bb13eaddabf.md.jpg" alt="image130c8a61bb13eaddabf.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image131f447afa1fa4e87e5.md.jpg" alt="image131f447afa1fa4e87e5.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image13276c03c2d84c7fdd7.md.jpg" alt="image13276c03c2d84c7fdd7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1333620ca198a6461eb.md.jpg" alt="image1333620ca198a6461eb.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image134ee1d2a5e8cfd8c72.md.jpg" alt="image134ee1d2a5e8cfd8c72.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1358383213d94414d69.md.jpg" alt="image1358383213d94414d69.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image13688b91a7eeaee765e.md.jpg" alt="image13688b91a7eeaee765e.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image137d474a08239e47c22.md.jpg" alt="image137d474a08239e47c22.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image138f495d29ab9847e8d.md.jpg" alt="image138f495d29ab9847e8d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image139227684ea3fb06ac8.md.jpg" alt="image139227684ea3fb06ac8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image140f6be772e2e45e867.md.jpg" alt="image140f6be772e2e45e867.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1413d51e2db52220321.md.jpg" alt="image1413d51e2db52220321.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image142f580db8e781b512b.md.jpg" alt="image142f580db8e781b512b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image143f312a68f8857ffac.md.jpg" alt="image143f312a68f8857ffac.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1448566732a2b0fd09a.md.jpg" alt="image1448566732a2b0fd09a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image145cc84dc9945451ba7.md.jpg" alt="image145cc84dc9945451ba7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1469bac63879690c079.md.jpg" alt="image1469bac63879690c079.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image147852f0970a593280e.md.jpg" alt="image147852f0970a593280e.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image148f19327e366397fde.md.jpg" alt="image148f19327e366397fde.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image149166267bdbe09c777.md.jpg" alt="image149166267bdbe09c777.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image150e773b19c3fe0d45e.md.jpg" alt="image150e773b19c3fe0d45e.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1519de7f58be8fc2ab5.md.jpg" alt="image1519de7f58be8fc2ab5.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image152ed73617c23fa9731.md.jpg" alt="image152ed73617c23fa9731.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image153a48dbe991d9a2571.md.jpg" alt="image153a48dbe991d9a2571.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image15484e179b109741e35.md.jpg" alt="image15484e179b109741e35.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1551b5266540865777f.md.jpg" alt="image1551b5266540865777f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1569eaee760ba853f13.md.jpg" alt="image1569eaee760ba853f13.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image157ea14c0faf6f5358a.md.jpg" alt="image157ea14c0faf6f5358a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image158e70b451c04ac9ea7.md.jpg" alt="image158e70b451c04ac9ea7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image159ee90c8caa540a2a9.md.jpg" alt="image159ee90c8caa540a2a9.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1601d0e2fc097d4daa7.md.jpg" alt="image1601d0e2fc097d4daa7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image161d3434e480cd307d7.md.jpg" alt="image161d3434e480cd307d7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1621e55e6d3cd9502a3.md.jpg" alt="image1621e55e6d3cd9502a3.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image16384e68927e0579e79.md.jpg" alt="image16384e68927e0579e79.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1642e072e41c195a7d3.md.jpg" alt="image1642e072e41c195a7d3.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image165e772b71c7ff8f9a1.md.jpg" alt="image165e772b71c7ff8f9a1.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1664216adc031e48c7f.md.jpg" alt="image1664216adc031e48c7f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1675d6db13c533aeeb8.md.jpg" alt="image1675d6db13c533aeeb8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1681fb11e9428df2424.md.jpg" alt="image1681fb11e9428df2424.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image169439ba3286dd10214.md.jpg" alt="image169439ba3286dd10214.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image170e45c39083a254f2b.md.jpg" alt="image170e45c39083a254f2b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image171fa6caa544c911a1f.md.jpg" alt="image171fa6caa544c911a1f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image17252c331a3620fb6bf.md.jpg" alt="image17252c331a3620fb6bf.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image173e207ed10de735660.jpg" alt="image173e207ed10de735660.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image174d1217ed2c9cb7305.md.jpg" alt="image174d1217ed2c9cb7305.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image175b436a35614ee8c7f.md.jpg" alt="image175b436a35614ee8c7f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image176a21fad7648f6a9f8.md.jpg" alt="image176a21fad7648f6a9f8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1779eb686a7d434af2b.md.jpg" alt="image1779eb686a7d434af2b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image178cc1bd623042880d0.md.jpg" alt="image178cc1bd623042880d0.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image179e95827d0063e8975.md.jpg" alt="image179e95827d0063e8975.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image180480001000f8303fe.md.jpg" alt="image180480001000f8303fe.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image18169d3bb4aac7c6c62.md.jpg" alt="image18169d3bb4aac7c6c62.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image182ee81712cf9265035.md.jpg" alt="image182ee81712cf9265035.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1837d488abc10a9cbbe.md.jpg" alt="image1837d488abc10a9cbbe.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1847cfc5cf35386e85a.md.jpg" alt="image1847cfc5cf35386e85a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1858077f14246e66579.md.jpg" alt="image1858077f14246e66579.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image186f5867dcd07ba6bd1.md.jpg" alt="image186f5867dcd07ba6bd1.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1870536c8e53ceb0239.md.jpg" alt="image1870536c8e53ceb0239.md.jpg" border="0"> 
   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>