﻿<head>

		<title>E系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>E系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/05/15/image153e5e52831a9954c60.md.jpg" alt="image153e5e52831a9954c60.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1525aa997c43e981ed1.jpg" alt="image1525aa997c43e981ed1.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image155105e49fa233be662.md.jpg" alt="image155105e49fa233be662.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image15497876b68c486caa2.md.jpg" alt="image15497876b68c486caa2.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1563c7c3869fb9015d6.md.jpg" alt="image1563c7c3869fb9015d6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image15775949976b14ebd75.md.jpg" alt="image15775949976b14ebd75.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image158a531235652288a7f.md.jpg" alt="image158a531235652288a7f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image159f2890ef643bd34cc.md.jpg" alt="image159f2890ef643bd34cc.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image160d767e75300bbe47c.md.jpg" alt="image160d767e75300bbe47c.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image161b1c96d64c0d7b30f.md.jpg" alt="image161b1c96d64c0d7b30f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1626a15cc9a3e123e8b.md.jpg" alt="image1626a15cc9a3e123e8b.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image163330c33f931df3e98.md.jpg" alt="image163330c33f931df3e98.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image164682f2a31ccdf53bf.md.jpg" alt="image164682f2a31ccdf53bf.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image16675498f9fb01f408a.md.jpg" alt="image16675498f9fb01f408a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image16553c4a472d1d11904.md.jpg" alt="image16553c4a472d1d11904.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image16787b5ed03420ba398.jpg" alt="image16787b5ed03420ba398.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image168968e6672e1fcdb02.md.jpg" alt="image168968e6672e1fcdb02.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image169f01a884005494e97.md.jpg" alt="image169f01a884005494e97.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image170323c65c567ce1fe8.md.jpg" alt="image170323c65c567ce1fe8.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1719966984493d00eb9.md.jpg" alt="image1719966984493d00eb9.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image172f31e6cfed8e53450.md.jpg" alt="image172f31e6cfed8e53450.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image173551feadbb167bd32.md.jpg" alt="image173551feadbb167bd32.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image174052b051d0195dbf9.md.jpg" alt="image174052b051d0195dbf9.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image175d73bfaae15dd8292.md.jpg" alt="image175d73bfaae15dd8292.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1765a166a84ab88ec82.md.jpg" alt="image1765a166a84ab88ec82.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1770de218031510e8e6.md.jpg" alt="image1770de218031510e8e6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image178cdcaa589f098be66.md.jpg" alt="image178cdcaa589f098be66.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image179c395166e931c0edf.md.jpg" alt="image179c395166e931c0edf.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image180dee2e93ff2273a23.jpg" alt="image180dee2e93ff2273a23.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image181d7c683154f02bb8f.md.jpg" alt="image181d7c683154f02bb8f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image182c7b130e1c6236fdd.md.jpg" alt="image182c7b130e1c6236fdd.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1831bd4c5eff1772020.md.jpg" alt="image1831bd4c5eff1772020.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image18476b03955369addb0.md.jpg" alt="image18476b03955369addb0.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image185c39a43ab8b51e30b.md.jpg" alt="image185c39a43ab8b51e30b.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image186410cc2175dd1c34d.md.jpg" alt="image186410cc2175dd1c34d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image187f421c9b66e48c860.md.jpg" alt="image187f421c9b66e48c860.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image18874cca620401a5d41.md.jpg" alt="image18874cca620401a5d41.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image189b4ac04bf299455e9.md.jpg" alt="image189b4ac04bf299455e9.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image190a58aea4800569334.md.jpg" alt="image190a58aea4800569334.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image19112b370784979dab6.md.jpg" alt="image19112b370784979dab6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image19284eea5e31fd4a080.md.jpg" alt="image19284eea5e31fd4a080.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image19372852b320b14640f.md.jpg" alt="image19372852b320b14640f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1944fc27286bd238845.md.jpg" alt="image1944fc27286bd238845.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image195de8720d19a8ae70a.md.jpg" alt="image195de8720d19a8ae70a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1969d004bb1a13c4145.md.jpg" alt="image1969d004bb1a13c4145.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1970529981bfba6342e.md.jpg" alt="image1970529981bfba6342e.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1980d1b10663cf69a2b.md.jpg" alt="image1980d1b10663cf69a2b.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image199379d18423b55e908.md.jpg" alt="image199379d18423b55e908.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image200cf95bfe1679b51c8.md.jpg" alt="image200cf95bfe1679b51c8.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image2019528344b149b9ff5.md.jpg" alt="image2019528344b149b9ff5.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image2028eabc8e03cd023d9.jpg" alt="image2028eabc8e03cd023d9.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image20415adcd0f888bdb71.png" alt="image20415adcd0f888bdb71.png" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image203f783d991e42ea48c.jpg" alt="image203f783d991e42ea48c.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image205bb3e3426d02e983c.jpg" alt="image205bb3e3426d02e983c.jpg" border="0" /> 
   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>