﻿<head>

		<title>F系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>F系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/05/15/image089d13b7817d8405638.md.jpg" alt="image089d13b7817d8405638.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image09019023b95a35f3aa0.jpg" alt="image09019023b95a35f3aa0.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image091e500b92dfeb6e42a.md.jpg" alt="image091e500b92dfeb6e42a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0923f8f30ed0f23b6c6.md.jpg" alt="image0923f8f30ed0f23b6c6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image094043761da8ee825f1.md.jpg" alt="image094043761da8ee825f1.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0937c82fe575eba6021.md.jpg" alt="image0937c82fe575eba6021.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image095a8a79f0588152c50.md.jpg" alt="image095a8a79f0588152c50.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image096449c5f12ca98622f.md.jpg" alt="image096449c5f12ca98622f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image09703cd5d1a820586d5.md.jpg" alt="image09703cd5d1a820586d5.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image09864be8a49c39c465e.md.jpg" alt="image09864be8a49c39c465e.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image099ca693f3a379fd7a3.md.jpg" alt="image099ca693f3a379fd7a3.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image100160416f63af6f865.md.jpg" alt="image100160416f63af6f865.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1016e6f8bc871f7b598.md.jpg" alt="image1016e6f8bc871f7b598.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1023d93602426292ddc.md.jpg" alt="image1023d93602426292ddc.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image10463d5cbf4dc189a83.md.jpg" alt="image10463d5cbf4dc189a83.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image103fe728bd289e2a53d.md.jpg" alt="image103fe728bd289e2a53d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image10599f9dca41d6d7aa5.md.jpg" alt="image10599f9dca41d6d7aa5.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image106e756fc9afb44e630.jpg" alt="image106e756fc9afb44e630.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image107b08bbeb8841b838a.md.jpg" alt="image107b08bbeb8841b838a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image10812b9719c53ba0a53.md.jpg" alt="image10812b9719c53ba0a53.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image10979e426c849d439fd.md.jpg" alt="image10979e426c849d439fd.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1109ee600db2beb02a6.md.jpg" alt="image1109ee600db2beb02a6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1115c54f5824a645b58.md.jpg" alt="image1115c54f5824a645b58.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image11249ad891eb3fbeafe.md.jpg" alt="image11249ad891eb3fbeafe.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image11329ad6a5a08f06e4e.md.jpg" alt="image11329ad6a5a08f06e4e.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image11464d99ea3c781bf4f.md.jpg" alt="image11464d99ea3c781bf4f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image115803d2507d9911f68.md.jpg" alt="image115803d2507d9911f68.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1160a02daddd61747d9.md.jpg" alt="image1160a02daddd61747d9.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image11739d357aebc21cf6a.md.jpg" alt="image11739d357aebc21cf6a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image118d33f380bc50ccf3e.md.jpg" alt="image118d33f380bc50ccf3e.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image11902628867bfc4e8de.md.jpg" alt="image11902628867bfc4e8de.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1204e9ff0d4b43a6512.md.jpg" alt="image1204e9ff0d4b43a6512.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image121e3b08268f7075076.md.jpg" alt="image121e3b08268f7075076.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image122d5f83dfe8b377dc5.md.jpg" alt="image122d5f83dfe8b377dc5.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image12308337d2feb3f51d8.md.jpg" alt="image12308337d2feb3f51d8.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1246cf38f9530730a01.md.jpg" alt="image1246cf38f9530730a01.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1258a3a6da7dee0c1bd.md.jpg" alt="image1258a3a6da7dee0c1bd.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image126e478fb9b37f286b3.md.jpg" alt="image126e478fb9b37f286b3.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image127001e550ce3783e8a.md.jpg" alt="image127001e550ce3783e8a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image128eb1b6ab9d559083e.md.jpg" alt="image128eb1b6ab9d559083e.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image129debb17b3d8d9e4c8.md.jpg" alt="image129debb17b3d8d9e4c8.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image131ac586f2a8ee3815c.md.jpg" alt="image131ac586f2a8ee3815c.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image130d395f38ed9d662f9.md.jpg" alt="image130d395f38ed9d662f9.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1322d389e87bd9a193e.md.jpg" alt="image1322d389e87bd9a193e.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1334e477e9e589b2783.md.jpg" alt="image1334e477e9e589b2783.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image134737935220132d4b2.md.jpg" alt="image134737935220132d4b2.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1357b0704c320da14eb.md.jpg" alt="image1357b0704c320da14eb.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image136c8ed4ce34fcff9fe.md.jpg" alt="image136c8ed4ce34fcff9fe.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1379243d64a8968ae79.md.jpg" alt="image1379243d64a8968ae79.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image138a9384ac1e02cf68c.md.jpg" alt="image138a9384ac1e02cf68c.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1390904446dcda9dcc9.md.jpg" alt="image1390904446dcda9dcc9.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image14021bb7974dddf8a10.md.jpg" alt="image14021bb7974dddf8a10.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image141bc1bdf84db8fb786.md.jpg" alt="image141bc1bdf84db8fb786.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1426836c576f7d106ed.md.jpg" alt="image1426836c576f7d106ed.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image143059b1d6e5d210201.md.jpg" alt="image143059b1d6e5d210201.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image144c9a409ed480b2ede.md.jpg" alt="image144c9a409ed480b2ede.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1456507591bf8f462ee.md.jpg" alt="image1456507591bf8f462ee.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image146b1ce18ed98026e5b.md.jpg" alt="image146b1ce18ed98026e5b.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image147c85555ce423e7bc1.md.jpg" alt="image147c85555ce423e7bc1.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image1485a02b9554349f305.md.jpg" alt="image1485a02b9554349f305.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image149315a3eec55ddcd7a.jpg" alt="image149315a3eec55ddcd7a.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image150e752bffcd0a4bbb4.jpg" alt="image150e752bffcd0a4bbb4.jpg" border="0" /> 
   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>