﻿<head>

		<title>H系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>H系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/05/15/image02974ff1b2c6dfe0ad6.md.jpg" alt="image02974ff1b2c6dfe0ad6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image030920d2bc3be447e20.md.jpg" alt="image030920d2bc3be447e20.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0318270a678d7c67c04.md.jpg" alt="image0318270a678d7c67c04.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image032c585df8e57a8ef35.md.jpg" alt="image032c585df8e57a8ef35.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image033aaf55169b0544882.md.jpg" alt="image033aaf55169b0544882.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0349abc1b3a9776e540.md.jpg" alt="image0349abc1b3a9776e540.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image035f2731844cafcc5b9.md.jpg" alt="image035f2731844cafcc5b9.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0364b3e78d7b798f906.md.jpg" alt="image0364b3e78d7b798f906.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image037a64601197ac0f4ce.md.jpg" alt="image037a64601197ac0f4ce.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0387136706304b9d9d4.md.jpg" alt="image0387136706304b9d9d4.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image03931f1e677cf066fc1.md.jpg" alt="image03931f1e677cf066fc1.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image04042388ddbe2b97c43.md.jpg" alt="image04042388ddbe2b97c43.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0411e14597fc968584d.md.jpg" alt="image0411e14597fc968584d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0422dba021f4ee88ecc.md.jpg" alt="image0422dba021f4ee88ecc.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image043d0d07edb62edb2fd.md.jpg" alt="image043d0d07edb62edb2fd.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image044f181969660f82686.md.jpg" alt="image044f181969660f82686.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image045645dc46468c7563b.md.jpg" alt="image045645dc46468c7563b.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image046f3d04031dc5c18aa.md.jpg" alt="image046f3d04031dc5c18aa.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0471686daa9dcbf4679.jpg" alt="image0471686daa9dcbf4679.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0489f438c5ce80136cd.jpg" alt="image0489f438c5ce80136cd.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0490b2caa9e39e30f1d.md.jpg" alt="image0490b2caa9e39e30f1d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image05075c8be2b74f179fe.md.jpg" alt="image05075c8be2b74f179fe.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image05187b452f4fef0bbf8.md.jpg" alt="image05187b452f4fef0bbf8.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image052f6320b67497432cd.md.jpg" alt="image052f6320b67497432cd.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image054dbe6ca394b31335f.md.jpg" alt="image054dbe6ca394b31335f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0533144f6c40c3ae82a.md.jpg" alt="image0533144f6c40c3ae82a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image05536a0018dde98c6be.md.jpg" alt="image05536a0018dde98c6be.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0560489a0706c176a71.md.jpg" alt="image0560489a0706c176a71.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0575106760507c3fbdb.md.jpg" alt="image0575106760507c3fbdb.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image058597344864185fb12.md.jpg" alt="image058597344864185fb12.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0593f4a5f4b105fbcaf.md.jpg" alt="image0593f4a5f4b105fbcaf.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image060a40bb061225e87dc.md.jpg" alt="image060a40bb061225e87dc.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0614dcd7455fd7295ac.md.jpg" alt="image0614dcd7455fd7295ac.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image063ff0b23798fc26673.md.jpg" alt="image063ff0b23798fc26673.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image062f39f1589035381db.md.jpg" alt="image062f39f1589035381db.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image065ea539c9a03ff83ec.md.jpg" alt="image065ea539c9a03ff83ec.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0640dae2366ea2ad865.md.jpg" alt="image0640dae2366ea2ad865.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0664b49f09928e41388.md.jpg" alt="image0664b49f09928e41388.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image067a380a5ad234c8050.md.jpg" alt="image067a380a5ad234c8050.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image068a7dd8f0df4abdaac.md.jpg" alt="image068a7dd8f0df4abdaac.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image069bb5e8ccff7b4f69e.md.jpg" alt="image069bb5e8ccff7b4f69e.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image070655471de2adf3544.md.jpg" alt="image070655471de2adf3544.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image07125545678f6d9e103.md.jpg" alt="image07125545678f6d9e103.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image072533461182d681efd.md.jpg" alt="image072533461182d681efd.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image073fe1fc78efa2e8d29.md.jpg" alt="image073fe1fc78efa2e8d29.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image07403b68f0610118528.md.jpg" alt="image07403b68f0610118528.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0762a76dfebd3f2007b.md.jpg" alt="image0762a76dfebd3f2007b.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0757051bf91014ebd70.md.jpg" alt="image0757051bf91014ebd70.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image07737fd19aeb9b84a09.md.jpg" alt="image07737fd19aeb9b84a09.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image078fb792296b3a7369c.md.jpg" alt="image078fb792296b3a7369c.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image079aea983adc9d420bc.md.jpg" alt="image079aea983adc9d420bc.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image081ceae5377e13900a8.md.jpg" alt="image081ceae5377e13900a8.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image080ae22e269a0bc12da.md.jpg" alt="image080ae22e269a0bc12da.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image082dc1f7f89cbb2167d.md.jpg" alt="image082dc1f7f89cbb2167d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0833a1b91265d41a8a3.md.jpg" alt="image0833a1b91265d41a8a3.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0842decf9861edf9a20.md.jpg" alt="image0842decf9861edf9a20.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image08547c8cc9e93c31f8b.md.jpg" alt="image08547c8cc9e93c31f8b.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image08761ea4d59f5b0ca75.md.jpg" alt="image08761ea4d59f5b0ca75.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image086ce1c918e73ce03a6.md.jpg" alt="image086ce1c918e73ce03a6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image08846d06d1476c4075a.md.jpg" alt="image08846d06d1476c4075a.md.jpg" border="0" /> 
   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>