﻿<head>

		<title>J系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>J系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/09/13/image09488e4c1676aa6cc7.jpg" alt="image09488e4c1676aa6cc7.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image01560c91b8d8eccbff1.jpg" alt="image01560c91b8d8eccbff1.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image017899c7b86aee2a8cc.jpg" alt="image017899c7b86aee2a8cc.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image0207c98c06f10d55087.jpg" alt="image0207c98c06f10d55087.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image024500b2f805914ed43.jpg" alt="image024500b2f805914ed43.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image0263f0969ca8ceeaf2a.jpg" alt="image0263f0969ca8ceeaf2a.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image032.53a7b5413c9b650c2.jpg" alt="image032.53a7b5413c9b650c2.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image032.6d6aa59248c4c8554.jpg" alt="image032.6d6aa59248c4c8554.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image03211346017eccb3845.jpg" alt="image03211346017eccb3845.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image035c3200fe3c7c26b3e.jpg" alt="image035c3200fe3c7c26b3e.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image045.1b104139e577f8211.jpg" alt="image045.1b104139e577f8211.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image045.2e6944ae3c8923dc7.jpg" alt="image045.2e6944ae3c8923dc7.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image045.384a9f85e578d1b00.jpg" alt="image045.384a9f85e578d1b00.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image045.4a9913d4bcbe0e21b.jpg" alt="image045.4a9913d4bcbe0e21b.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image053e3a5af50c8840af6.jpg" alt="image053e3a5af50c8840af6.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/image057a74f58c5ce571f30.jpg" alt="image057a74f58c5ce571f30.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/05/15/image2430ab7fac668fb0c40.md.jpg" alt="image2430ab7fac668fb0c40.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image24409b7366e13d1347b.md.jpg" alt="image24409b7366e13d1347b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2457b6170d68aa1378d.md.jpg" alt="image2457b6170d68aa1378d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image246215e65ff9729738b.md.jpg" alt="image246215e65ff9729738b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image247a002dda830b81b71.md.jpg" alt="image247a002dda830b81b71.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image248d36bf15a6ab65e74.md.jpg" alt="image248d36bf15a6ab65e74.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image250b03e6bea930ec588.md.jpg" alt="image250b03e6bea930ec588.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image249bd031ccef264dd6b.md.jpg" alt="image249bd031ccef264dd6b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image251f564659d562153cb.md.jpg" alt="image251f564659d562153cb.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2529ec3c29e5b63e871.md.jpg" alt="image2529ec3c29e5b63e871.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image253f19575909d4df14b.md.jpg" alt="image253f19575909d4df14b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/J46a44abe35c8aa39b1.md.jpg" alt="J46a44abe35c8aa39b1.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image25495b9a84c9de3baac.md.jpg" alt="image25495b9a84c9de3baac.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2560599c7f7547f30b5.md.jpg" alt="image2560599c7f7547f30b5.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image255774314ce04709d50.md.jpg" alt="image255774314ce04709d50.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image25761cf68a56f4320f4.md.jpg" alt="image25761cf68a56f4320f4.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2589f399e39e1622f12.md.jpg" alt="image2589f399e39e1622f12.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image259b3b41c4c78e8422c.md.jpg" alt="image259b3b41c4c78e8422c.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image26069aad384217a67b7.md.jpg" alt="image26069aad384217a67b7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image26176bc2619f4f94d77.md.jpg" alt="image26176bc2619f4f94d77.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image262aab9dbef9474e8fc.md.jpg" alt="image262aab9dbef9474e8fc.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image26315df68a5c8605c15.md.jpg" alt="image26315df68a5c8605c15.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image26481d0bf6f9745dfa7.md.jpg" alt="image26481d0bf6f9745dfa7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image26514f2eaff5849049b.md.jpg" alt="image26514f2eaff5849049b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image266cf4ed5dcab364d47.md.jpg" alt="image266cf4ed5dcab364d47.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image267b8952453f8991203.md.jpg" alt="image267b8952453f8991203.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image268cc95edbf049a3545.md.jpg" alt="image268cc95edbf049a3545.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image26972604a9224d01aba.md.jpg" alt="image26972604a9224d01aba.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2705e149d8e5c0defcc.md.jpg" alt="image2705e149d8e5c0defcc.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image271d635d373d408fac2.md.jpg" alt="image271d635d373d408fac2.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2729588d1fd9acaf314.md.jpg" alt="image2729588d1fd9acaf314.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image273e431da923e1b6084.md.jpg" alt="image273e431da923e1b6084.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image274f716bd06c64eea17.md.jpg" alt="image274f716bd06c64eea17.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image27573e932a801604f57.md.jpg" alt="image27573e932a801604f57.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image276ced45922aa8845d3.md.jpg" alt="image276ced45922aa8845d3.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image277d3a5e1928cc67b27.md.jpg" alt="image277d3a5e1928cc67b27.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image27834576e9643c6ffac.md.jpg" alt="image27834576e9643c6ffac.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image280e3532d8ba74211d3.md.jpg" alt="image280e3532d8ba74211d3.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image279557352f7e9595054.md.jpg" alt="image279557352f7e9595054.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2811562ad848ea360a7.md.jpg" alt="image2811562ad848ea360a7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image282caa251033274a266.md.jpg" alt="image282caa251033274a266.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image283ad50bc282516d9d6.md.jpg" alt="image283ad50bc282516d9d6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image284926b818375007eb9.md.jpg" alt="image284926b818375007eb9.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2858b9f777d3a658ac6.md.jpg" alt="image2858b9f777d3a658ac6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image286b0e3d81d4f20819d.md.jpg" alt="image286b0e3d81d4f20819d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image287371fee02f782032c.md.jpg" alt="image287371fee02f782032c.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image28883291f94442817ab.md.jpg" alt="image28883291f94442817ab.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2892c265c31a0f441c6.md.jpg" alt="image2892c265c31a0f441c6.md.jpg" border="0"> 
   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>