﻿<head>

		<title>K系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>K系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/05/31/K617531e21523d3e45f.md.jpg" alt="K617531e21523d3e45f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/31/K62b6eff69e1d9e2aaf.md.jpg" alt="K62b6eff69e1d9e2aaf.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/30/K609689ed32c02df3cc.md.jpg" alt="K609689ed32c02df3cc.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/30/K59b1056a9a73d42435.md.jpg" alt="K59b1056a9a73d42435.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/29/K585974dc6e84c602fb.md.jpg" alt="K585974dc6e84c602fb.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/29/K578ce0d2923b4d3e05.md.jpg" alt="K578ce0d2923b4d3e05.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/28/K5515849d161ffd4a86.md.jpg" alt="K5515849d161ffd4a86.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/28/K5667ac7290234c6cc3.md.jpg" alt="K5667ac7290234c6cc3.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/27/K53ef3011765300d923.md.jpg" alt="K53ef3011765300d923.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/27/K54f795e4836102ab4d.md.jpg" alt="K54f795e4836102ab4d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/27/K52b08ac06784bf01fb.md.jpg" alt="K52b08ac06784bf01fb.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/27/K5108278165560fc868.md.jpg" alt="K5108278165560fc868.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/25/K500e6370cd8db7b93c.md.jpg" alt="K500e6370cd8db7b93c.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/25/K49d2217fc26225ac66.md.jpg" alt="K49d2217fc26225ac66.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/24/K48b49d9c3bfdc8c5a1.md.jpg" alt="K48b49d9c3bfdc8c5a1.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/24/K47b1db35f5987fc819.md.jpg" alt="K47b1db35f5987fc819.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/23/K452f2c705ee790e8c4.md.jpg" alt="K452f2c705ee790e8c4.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/23/K4600deb743e85a2069.md.jpg" alt="K4600deb743e85a2069.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/22/K443fad100d4f7379a0.md.jpg" alt="K443fad100d4f7379a0.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/22/K439a2404f53b8d731f.md.jpg" alt="K439a2404f53b8d731f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/21/K4155a1ae5f8e39abe6.md.jpg" alt="K4155a1ae5f8e39abe6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/21/K4277b96e0af9abd8d1.jpg" alt="K4277b96e0af9abd8d1.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/20/K39c83718e647120b57.md.jpg" alt="K39c83718e647120b57.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/20/K40cf24c2bc8deeedce.md.jpg" alt="K40cf24c2bc8deeedce.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/19/K374e66f4e404613ddd.md.jpg" alt="K374e66f4e404613ddd.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/19/K38442279b5189b4503.md.jpg" alt="K38442279b5189b4503.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/19/K350d65746768da28a7.md.jpg" alt="K350d65746768da28a7.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/18/K36a59f3333fe2be9e1.md.jpg" alt="K36a59f3333fe2be9e1.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/17/K33dd33a4fca560b559.md.jpg" alt="K33dd33a4fca560b559.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/17/K34ea3d62f617caba99.md.jpg" alt="K34ea3d62f617caba99.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/16/K31d35a1d5e06e00dfb.md.jpg" alt="K31d35a1d5e06e00dfb.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/16/K32db71f6463c7da6a2.md.jpg" alt="K32db71f6463c7da6a2.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/K297e0256700ebfc80c.md.jpg" alt="K297e0256700ebfc80c.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/K30_0834ef09990f7de4.md.jpg" alt="K30_0834ef09990f7de4.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image00110e070972a442449.md.jpg" alt="image00110e070972a442449.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0024015be7210428156.md.jpg" alt="image0024015be7210428156.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image00493e12b6fefaaa32b.md.jpg" alt="image00493e12b6fefaaa32b.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0034e82a112d348d47f.md.jpg" alt="image0034e82a112d348d47f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image005a9507c347bc0e3c7.md.jpg" alt="image005a9507c347bc0e3c7.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image007fc3cda6c007213b1.jpg" alt="image007fc3cda6c007213b1.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image00699b9c64e7e7662c5.md.jpg" alt="image00699b9c64e7e7662c5.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image009b625f6b5ff239a6c.jpg" alt="image009b625f6b5ff239a6c.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image008f48cf6974450ab2a.md.jpg" alt="image008f48cf6974450ab2a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0102cda493755010f06.jpg" alt="image0102cda493755010f06.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image01169bd8c4622214b00.md.jpg" alt="image01169bd8c4622214b00.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image012ad074f9ed0dc0939.md.jpg" alt="image012ad074f9ed0dc0939.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image01372d43f3328751463.md.jpg" alt="image01372d43f3328751463.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image014964c50d0a5e4fec8.md.jpg" alt="image014964c50d0a5e4fec8.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0156828bbbc9a98161d.md.jpg" alt="image0156828bbbc9a98161d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image016f505c67c534fe9ef.md.jpg" alt="image016f505c67c534fe9ef.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image01779fd2c5705bd8229.md.jpg" alt="image01779fd2c5705bd8229.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image01801f8135b8f342f7f.md.jpg" alt="image01801f8135b8f342f7f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image019a38e1bd5b3215886.md.jpg" alt="image019a38e1bd5b3215886.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0206a55f1bfc121bf6e.md.jpg" alt="image0206a55f1bfc121bf6e.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image021607c9f7e0f2eecb2.md.jpg" alt="image021607c9f7e0f2eecb2.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0229f9d6c94e6c194bf.md.jpg" alt="image0229f9d6c94e6c194bf.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image023e1687d427b42f546.md.jpg" alt="image023e1687d427b42f546.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image02469abcede212c69bb.md.jpg" alt="image02469abcede212c69bb.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image02529da39cc5bf145fb.md.jpg" alt="image02529da39cc5bf145fb.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image026a302585ed200bca0.md.jpg" alt="image026a302585ed200bca0.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image0273398fadaf9e3c1c4.md.jpg" alt="image0273398fadaf9e3c1c4.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/05/15/image02832281a164322d15b.md.jpg" alt="image02832281a164322d15b.md.jpg" border="0" /> 
   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>