﻿<head>

		<title>N系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>N系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/07/30/N60b0d9721c2a4a1e35.md.jpg" alt="N60b0d9721c2a4a1e35.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/30/N59d4e49fa1312e1915.md.jpg" alt="N59d4e49fa1312e1915.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/29/N586be487a0f2441bef.md.jpg" alt="N586be487a0f2441bef.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/29/N579a53055ede83a2e3.md.jpg" alt="N579a53055ede83a2e3.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/29/N5644a6124a77e80057.md.jpg" alt="N5644a6124a77e80057.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/29/N55f5cbafce106f6183.md.jpg" alt="N55f5cbafce106f6183.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/27/N54a24c4fa37bb87aee.md.jpg" alt="N54a24c4fa37bb87aee.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/27/N530ca7889d1307cad8.md.jpg" alt="N530ca7889d1307cad8.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/26/N52c1bf2a1377a4050d.md.jpg" alt="N52c1bf2a1377a4050d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/26/N51bfe244597bbb1afe.md.jpg" alt="N51bfe244597bbb1afe.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/26/N50a098a69a72622b1e.md.jpg" alt="N50a098a69a72622b1e.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/26/N4988fa5bf384daadb1.md.jpg" alt="N4988fa5bf384daadb1.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/24/N4874b201e4c0ac1e02.md.jpg" alt="N4874b201e4c0ac1e02.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/24/N4756cb4ccb1d7847d1.md.jpg" alt="N4756cb4ccb1d7847d1.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/24/N46f6deeb10e5234c27.md.jpg" alt="N46f6deeb10e5234c27.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/24/N451582ea08fccf93f6.md.jpg" alt="N451582ea08fccf93f6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/22/N44ec155ce38c164098.md.jpg" alt="N44ec155ce38c164098.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/22/N431b58a180bf898818.md.jpg" alt="N431b58a180bf898818.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/21/N4205bf4b0e39282cda.md.jpg" alt="N4205bf4b0e39282cda.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/21/N412f496658c1975715.md.jpg" alt="N412f496658c1975715.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/20/N40ffbb9c78a5ff41a7.md.jpg" alt="N40ffbb9c78a5ff41a7.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/20/N39d7149b2818035018.md.jpg" alt="N39d7149b2818035018.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/19/N38e478e339890e713d.md.jpg" alt="N38e478e339890e713d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/19/N377288e4fc699dfd8f.md.jpg" alt="N377288e4fc699dfd8f.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/18/N3674dd07672cea24ae.md.jpg" alt="N3674dd07672cea24ae.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/18/N354bc9d9593011ed8a.md.jpg" alt="N354bc9d9593011ed8a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N3204cd2c21039664e1.md.jpg" alt="N3204cd2c21039664e1.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N31cf9f991e82fc829d.jpg" alt="N31cf9f991e82fc829d.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N3039bb3ee445c90200.md.jpg" alt="N3039bb3ee445c90200.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N296c504981f7c67443.md.jpg" alt="N296c504981f7c67443.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N2847d402da222ca1e5.md.jpg" alt="N2847d402da222ca1e5.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N277b4154808fbe8084.jpg" alt="N277b4154808fbe8084.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N2644dd6a3cae92b2d6.md.jpg" alt="N2644dd6a3cae92b2d6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N254edb30b14ee5ede9.md.jpg" alt="N254edb30b14ee5ede9.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N2424afd4ab55293cc5.md.jpg" alt="N2424afd4ab55293cc5.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N2362829977f5648182.md.jpg" alt="N2362829977f5648182.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N2205d448841d4d5cfb.md.jpg" alt="N2205d448841d4d5cfb.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/12/N21143e140d935fc5aa.md.jpg" alt="N21143e140d935fc5aa.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/10/N2078c9df3bc1c66aaa.md.jpg" alt="N2078c9df3bc1c66aaa.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/10/N19bfa203f0813bc524.md.jpg" alt="N19bfa203f0813bc524.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/10/N182ef3af913c462ca7.md.jpg" alt="N182ef3af913c462ca7.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/10/N172c02799785a475da.md.jpg" alt="N172c02799785a475da.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/09/N16b5da563d5829d99a.md.jpg" alt="N16b5da563d5829d99a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/09/N15e4a6517e94757ee6.md.jpg" alt="N15e4a6517e94757ee6.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/04/N1490fa49b5ac028d69.md.jpg" alt="N1490fa49b5ac028d69.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/04/N13c7cd51893db5e86c.jpg" alt="N13c7cd51893db5e86c.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/04/N121cc512fd00f6ccdc.md.jpg" alt="N121cc512fd00f6ccdc.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/04/N112f55cf890a015a31.md.jpg" alt="N112f55cf890a015a31.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/04/N10ca1f93fbe0d378d3.md.jpg" alt="N10ca1f93fbe0d378d3.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/04/N996bdedbdc0928c85.md.jpg" alt="N996bdedbdc0928c85.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/04/N83e2913d3be1900a2.md.jpg" alt="N83e2913d3be1900a2.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/04/N77aa847739e6d52f1.md.jpg" alt="N77aa847739e6d52f1.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/04/N60ba0b84c207ed910.md.jpg" alt="N60ba0b84c207ed910.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/04/N5885a16d97feb6245.md.jpg" alt="N5885a16d97feb6245.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/03/N4a1b4418db38e9a7d.md.jpg" alt="N4a1b4418db38e9a7d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/03/N337bdaa209583f897.md.jpg" alt="N337bdaa209583f897.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/01/N2ccebb9bfbee54e1d.md.jpg" alt="N2ccebb9bfbee54e1d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/07/01/N1f6790e7669a8c31d.md.jpg" alt="N1f6790e7669a8c31d.md.jpg" border="0" /> 

   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>