﻿<head>

		<title>P系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>P系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/08/30/P629f4f94e6da383c08.md.jpg" alt="P629f4f94e6da383c08.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/30/P616ad28d2041e9e984.md.jpg" alt="P616ad28d2041e9e984.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/30/P6065ba82e3c5111d59.md.jpg" alt="P6065ba82e3c5111d59.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/30/P593684cee05955d578.jpg" alt="P593684cee05955d578.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/28/P58c6dc0fe35a748ab4.jpg" alt="P58c6dc0fe35a748ab4.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/28/P57b88be7afc7195055.jpg" alt="P57b88be7afc7195055.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/27/P560f53b127b0f77383.md.jpg" alt="P560f53b127b0f77383.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/27/P55967df8a024151b96.md.jpg" alt="P55967df8a024151b96.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/26/P54b4838fa98c2b3e1f.md.jpg" alt="P54b4838fa98c2b3e1f.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/26/P53b3bbcb59770c179e.jpg" alt="P53b3bbcb59770c179e.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/25/P5204a28ae7c0f83b9f.md.jpg" alt="P5204a28ae7c0f83b9f.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/25/P51d623ffb2fe8abcda.md.jpg" alt="P51d623ffb2fe8abcda.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/24/P5087f533d6333bbf7b.md.jpg" alt="P5087f533d6333bbf7b.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/24/P49dd59c4152769c7c8.md.jpg" alt="P49dd59c4152769c7c8.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/23/P48abd5baa3233c800a.md.jpg" alt="P48abd5baa3233c800a.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/23/P471371891827ae0773.md.jpg" alt="P471371891827ae0773.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/22/P4620f3c687a47b3260.md.jpg" alt="P4620f3c687a47b3260.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/22/P45e0456cadd49307b0.md.jpg" alt="P45e0456cadd49307b0.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/21/P44b433306c318f6c48.md.jpg" alt="P44b433306c318f6c48.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/21/P43fb9bda477111038f.md.jpg" alt="P43fb9bda477111038f.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/20/P429cfd38105d35578b.md.jpg" alt="P429cfd38105d35578b.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/20/P41e195fd46ddeec459.md.jpg" alt="P41e195fd46ddeec459.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/19/P40af95e69cd56f9c3b.md.jpg" alt="P40af95e69cd56f9c3b.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/19/P39b04c87ce64397ef4.md.jpg" alt="P39b04c87ce64397ef4.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/18/P38b0612e01031a8395.md.jpg" alt="P38b0612e01031a8395.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/18/P3769c5ff250e226df2.md.jpg" alt="P3769c5ff250e226df2.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/17/P365f9d86775e750ca5.md.jpg" alt="P365f9d86775e750ca5.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/17/P351716f3d52d89b384.md.jpg" alt="P351716f3d52d89b384.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/16/P343a8d7f6ec35177df.md.jpg" alt="P343a8d7f6ec35177df.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/16/P33e3ef03b206c2cead.md.jpg" alt="P33e3ef03b206c2cead.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/15/P3226851f92ea7fc856.md.jpg" alt="P3226851f92ea7fc856.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/15/P31cbee1cf5341641b8.md.jpg" alt="P31cbee1cf5341641b8.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/14/P30efae961c43182fca.md.jpg" alt="P30efae961c43182fca.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/14/P29c5c2846333c37a30.md.jpg" alt="P29c5c2846333c37a30.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/13/P282fea49aaf6bf8a2d.md.jpg" alt="P282fea49aaf6bf8a2d.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/13/P272bea58ecbda3c791.md.jpg" alt="P272bea58ecbda3c791.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/12/P26b10170baa5eb752c.md.jpg" alt="P26b10170baa5eb752c.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/12/P253f5c08267231e107.md.jpg" alt="P253f5c08267231e107.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/11/P24d4afc3c7ba4959dc.md.jpg" alt="P24d4afc3c7ba4959dc.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/11/P233339881ad6665934.md.jpg" alt="P233339881ad6665934.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/10/P22a73bb3ece8330c4d.md.jpg" alt="P22a73bb3ece8330c4d.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/10/P21343531c43924dfd4.md.jpg" alt="P21343531c43924dfd4.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/09/P20ddca0c47864529fa.md.jpg" alt="P20ddca0c47864529fa.md.jpg" border="0"/> 
<img src="https://www.simipic.com/images/2019/08/09/P19435dc6ae4282af3a.md.jpg" alt="P19435dc6ae4282af3a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/08/P1852e1ce97cf71be23.md.jpg" alt="P1852e1ce97cf71be23.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/08/P17f60896c33bbcbba5.md.jpg" alt="P17f60896c33bbcbba5.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/07/P16a7692cc13cef688a.md.jpg" alt="P16a7692cc13cef688a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/07/P15b4ddd73bd67107a4.md.jpg" alt="P15b4ddd73bd67107a4.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/06/P142e6af5e36b26a97a.md.jpg" alt="P142e6af5e36b26a97a.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/06/P13b6e00da2407d31b1.md.jpg" alt="P13b6e00da2407d31b1.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/05/P1297861e6918fd734c.md.jpg" alt="P1297861e6918fd734c.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/05/P1144a3f688df890944.md.jpg" alt="P1144a3f688df890944.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/05/P105f2a2d49d47ba874.md.jpg" alt="P105f2a2d49d47ba874.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/05/P91bbe74ac3096b845.md.jpg" alt="P91bbe74ac3096b845.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/03/P894df7a502dcff587.md.jpg" alt="P894df7a502dcff587.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/03/P7c22a8edef2d0b841.md.jpg" alt="P7c22a8edef2d0b841.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/02/P6e955890d11a79a2d.md.jpg" alt="P6e955890d11a79a2d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/02/P5382e3bbb96e2cd18.md.jpg" alt="P5382e3bbb96e2cd18.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/02/P4ac5c8771ef93d78d.md.jpg" alt="P4ac5c8771ef93d78d.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/02/P3d297e59b37ab62ac.md.jpg" alt="P3d297e59b37ab62ac.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/01/P2a806c5c677dcb678.md.jpg" alt="P2a806c5c677dcb678.md.jpg" border="0" /> 
<img src="https://www.simipic.com/images/2019/08/01/P12fc019d24a97ac88.md.jpg" alt="P12fc019d24a97ac88.md.jpg" border="0" /> 

   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>