﻿<head>

		<title>R系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>R系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/05/15/image0622111e7447cc58e32.md.jpg" alt="image0622111e7447cc58e32.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image06356bf9a1eb880753a.md.jpg" alt="image06356bf9a1eb880753a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image06499e20cecc4200f17.jpg" alt="image06499e20cecc4200f17.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image065b03a1c9eab1bbf36.md.jpg" alt="image065b03a1c9eab1bbf36.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image066b24fd351ac62b11f.md.jpg" alt="image066b24fd351ac62b11f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image067b06e88eccf9cb88a.md.jpg" alt="image067b06e88eccf9cb88a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image068258c57b1c569c0bf.md.jpg" alt="image068258c57b1c569c0bf.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image06903e6ca9ad82c87d9.md.jpg" alt="image06903e6ca9ad82c87d9.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image070d841cefd7c9417b6.md.jpg" alt="image070d841cefd7c9417b6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image07160637e452553f23d.md.jpg" alt="image07160637e452553f23d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image072c70f58bc1b921a19.md.jpg" alt="image072c70f58bc1b921a19.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0734c1e168c56d6189e.md.jpg" alt="image0734c1e168c56d6189e.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image074fc9d9600b88ce5e6.md.jpg" alt="image074fc9d9600b88ce5e6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image075820fb8edfe207d9e.md.jpg" alt="image075820fb8edfe207d9e.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image07650feab2ead3ce7e3.md.jpg" alt="image07650feab2ead3ce7e3.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image07788acb8109fd04b1f.md.jpg" alt="image07788acb8109fd04b1f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image07888d7fc8a89b9ab13.md.jpg" alt="image07888d7fc8a89b9ab13.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0806f8186f71948894d.md.jpg" alt="image0806f8186f71948894d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0792052711110896de7.jpg" alt="image0792052711110896de7.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0818a182ce6d21639a0.md.jpg" alt="image0818a182ce6d21639a0.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image082369363a9d354e295.md.jpg" alt="image082369363a9d354e295.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0833ac659b6ba3b708f.md.jpg" alt="image0833ac659b6ba3b708f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image08415dfe22a457cb47c.md.jpg" alt="image08415dfe22a457cb47c.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image08579f652b715013c42.md.jpg" alt="image08579f652b715013c42.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image086266c4c907bc18e72.jpg" alt="image086266c4c907bc18e72.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0870a83cc1d2103ef7f.md.jpg" alt="image0870a83cc1d2103ef7f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0884e655816bd5ce4bf.md.jpg" alt="image0884e655816bd5ce4bf.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image08933bf83fa63ce650b.md.jpg" alt="image08933bf83fa63ce650b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image090b6c51f4aa9d6379e.md.jpg" alt="image090b6c51f4aa9d6379e.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0911cc44097fba2df27.md.jpg" alt="image0911cc44097fba2df27.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image092c554423ad2895edc.md.jpg" alt="image092c554423ad2895edc.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0931d7dcbb2ed14c0bd.md.jpg" alt="image0931d7dcbb2ed14c0bd.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image094c8158feb34689254.md.jpg" alt="image094c8158feb34689254.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image095c473dc88077b1ded.md.jpg" alt="image095c473dc88077b1ded.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0967a18394220397dbb.md.jpg" alt="image0967a18394220397dbb.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image097b542f8c73e0486ac.md.jpg" alt="image097b542f8c73e0486ac.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image0983db7ed825250405a.md.jpg" alt="image0983db7ed825250405a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image09988b836cd04a1a481.md.jpg" alt="image09988b836cd04a1a481.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image100e71a08d3cda7be83.md.jpg" alt="image100e71a08d3cda7be83.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1013a7effcd5b979aa5.md.jpg" alt="image1013a7effcd5b979aa5.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1024d29bd1fe160c6cd.md.jpg" alt="image1024d29bd1fe160c6cd.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image10307c42c10e7e4d2f6.jpg" alt="image10307c42c10e7e4d2f6.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image10433fbbd4e3bc11cb4.md.jpg" alt="image10433fbbd4e3bc11cb4.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image105bd5bb9f29931fa02.md.jpg" alt="image105bd5bb9f29931fa02.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1060cae669b3ce0c32b.md.jpg" alt="image1060cae669b3ce0c32b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1079b18a1fd62c74288.md.jpg" alt="image1079b18a1fd62c74288.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image108e16708a868d32dbd.md.jpg" alt="image108e16708a868d32dbd.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image10924f770620b115002.md.jpg" alt="image10924f770620b115002.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image11068b3fab657d973d7.md.jpg" alt="image11068b3fab657d973d7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image111de5c256d33f6b9c0.jpg" alt="image111de5c256d33f6b9c0.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1128e2efc77d0eb4afe.md.jpg" alt="image1128e2efc77d0eb4afe.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image113aec67c4cd2594a40.md.jpg" alt="image113aec67c4cd2594a40.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1146530b6990bcc7680.md.jpg" alt="image1146530b6990bcc7680.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1151e89590e37186563.md.jpg" alt="image1151e89590e37186563.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image116e2fb29f31044192e.md.jpg" alt="image116e2fb29f31044192e.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image117817229ce002dc6aa.md.jpg" alt="image117817229ce002dc6aa.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image118c6a2809e635c8762.md.jpg" alt="image118c6a2809e635c8762.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1190af1d715a2af1a74.md.jpg" alt="image1190af1d715a2af1a74.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image120501e3d13505d95a3.md.jpg" alt="image120501e3d13505d95a3.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image12186adf4863e517150.md.jpg" alt="image12186adf4863e517150.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image122d0f10c60f7f46c5b.md.jpg" alt="image122d0f10c60f7f46c5b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image12365968200f1af19c2.md.jpg" alt="image12365968200f1af19c2.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image124adb30817e208018f.md.jpg" alt="image124adb30817e208018f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image125db6346a7413a1882.md.jpg" alt="image125db6346a7413a1882.md.jpg" border="0"> 
   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>