﻿<head>

		<title>Y系列</title>

		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<br>

</div>
  <h1>Y系列</h1>
</div>
<img src="https://www.simipic.com/images/2019/09/13/Y6205039e3be2baee03.jpg" alt="Y6205039e3be2baee03.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/Y615c5e39c0ebb7ac1c.jpg" alt="Y615c5e39c0ebb7ac1c.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/Y5943cca748da26cb25.jpg" alt="Y5943cca748da26cb25.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/Y60d76fa4926219f488.jpg" alt="Y60d76fa4926219f488.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/Y58078734932a3b5b74.jpg" alt="Y58078734932a3b5b74.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/Y4b5bb50a58ce92568.jpg" alt="Y4b5bb50a58ce92568.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/Y2924f81da2bfa8a5f3.jpg" alt="Y2924f81da2bfa8a5f3.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/09/13/Y38022ecbe6e6e88bc7.jpg" alt="Y38022ecbe6e6e88bc7.jpg" border="0"/>
<img src="https://www.simipic.com/images/2019/05/15/image18832452c6764732ee3.md.jpg" alt="image18832452c6764732ee3.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image18922eb69bab36acb17.md.jpg" alt="image18922eb69bab36acb17.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image190e0c0be2084252424.md.jpg" alt="image190e0c0be2084252424.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1917c6c4de6af17c919.md.jpg" alt="image1917c6c4de6af17c919.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1928505de617090bf4c.md.jpg" alt="image1928505de617090bf4c.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image193abfcf088b26e25f4.md.jpg" alt="image193abfcf088b26e25f4.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image19425cff697eae43ec2.md.jpg" alt="image19425cff697eae43ec2.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image195ed0bf25d3a0ab59b.md.jpg" alt="image195ed0bf25d3a0ab59b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1967146338dfb625240.md.jpg" alt="image1967146338dfb625240.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image1970031fc97b03500cc.md.jpg" alt="image1970031fc97b03500cc.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image198fa1523e7f8cc93aa.md.jpg" alt="image198fa1523e7f8cc93aa.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image19958d8f5898c8e0d7d.md.jpg" alt="image19958d8f5898c8e0d7d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image200bbbe54456b660d27.md.jpg" alt="image200bbbe54456b660d27.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image201d2cb1669bccd68ab.jpg" alt="image201d2cb1669bccd68ab.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2036a7e07fac76f039f.md.jpg" alt="image2036a7e07fac76f039f.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image202dec7eebb5712b506.md.jpg" alt="image202dec7eebb5712b506.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image204f21f3efe9b60e2c6.md.jpg" alt="image204f21f3efe9b60e2c6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image205b3f01a0cd24ce3df.md.jpg" alt="image205b3f01a0cd24ce3df.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image20628c0669e71b1703d.md.jpg" alt="image20628c0669e71b1703d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image207a06f5646b77be222.jpg" alt="image207a06f5646b77be222.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image20943308bb3f3485c00.md.jpg" alt="image20943308bb3f3485c00.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image20852e28fb1992b013a.md.jpg" alt="image20852e28fb1992b013a.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image211de8c65ce42951230.md.jpg" alt="image211de8c65ce42951230.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2107ee1d4c918b97ee4.md.jpg" alt="image2107ee1d4c918b97ee4.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image212c76a79f6c85f5ce8.md.jpg" alt="image212c76a79f6c85f5ce8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image213db2467ded6731b1c.md.jpg" alt="image213db2467ded6731b1c.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2146fedb5413e94bbf7.md.jpg" alt="image2146fedb5413e94bbf7.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image215fde2437e2e87e371.md.jpg" alt="image215fde2437e2e87e371.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2169b2d1b0a8baadd8d.md.jpg" alt="image2169b2d1b0a8baadd8d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image217dd2aff9f1c96ced9.md.jpg" alt="image217dd2aff9f1c96ced9.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2186eb8e12e479c1109.md.jpg" alt="image2186eb8e12e479c1109.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2192aee884d352b5d50.md.jpg" alt="image2192aee884d352b5d50.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image220ddd0ad79b4d8b205.md.jpg" alt="image220ddd0ad79b4d8b205.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image222d09dfd7960ae471d.md.jpg" alt="image222d09dfd7960ae471d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image223e10787537b4cabd2.md.jpg" alt="image223e10787537b4cabd2.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2249fec0b1f36a59703.md.jpg" alt="image2249fec0b1f36a59703.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image225cbce373fadbc7caf.md.jpg" alt="image225cbce373fadbc7caf.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image226cfea426150a2b6c9.md.jpg" alt="image226cfea426150a2b6c9.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image227fd1feedaef4ee832.jpg" alt="image227fd1feedaef4ee832.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image228faaa057c08589e7b.md.jpg" alt="image228faaa057c08589e7b.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image229731254a6eba4906d.md.jpg" alt="image229731254a6eba4906d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2306e4e885e5615cb7e.md.jpg" alt="image2306e4e885e5615cb7e.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2319410261ebd0dc5f8.md.jpg" alt="image2319410261ebd0dc5f8.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2324dc9a3e9dc716186.md.jpg" alt="image2324dc9a3e9dc716186.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2338319b2089e1c2d64.md.jpg" alt="image2338319b2089e1c2d64.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2347faa390e7ef02c69.md.jpg" alt="image2347faa390e7ef02c69.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image23555399b32b576a9d6.md.jpg" alt="image23555399b32b576a9d6.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image236ff9d553f4e64fce9.md.jpg" alt="image236ff9d553f4e64fce9.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image237bfb4136dea62b818.md.jpg" alt="image237bfb4136dea62b818.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image238e0698c28561bc733.md.jpg" alt="image238e0698c28561bc733.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2396ce74a332b40bd2c.md.jpg" alt="image2396ce74a332b40bd2c.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image2409cd12c579a1cee3d.md.jpg" alt="image2409cd12c579a1cee3d.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image241e8109f983e8f1795.md.jpg" alt="image241e8109f983e8f1795.md.jpg" border="0"> 
<img src="https://www.simipic.com/images/2019/05/15/image24212c56d11db4511b2.md.jpg" alt="image24212c56d11db4511b2.md.jpg" border="0"> 
   <br/>
<br><script>

function displayit(n){

	for(i=0;i<4;i++){

		if(i==n){

			var id='menu_list'+n;

			if(document.getElementById(id).style.display=='none'){

				document.getElementById(id).style.display='';

				document.getElementById("plug-wrap").style.display='';

			}else{

				document.getElementById(id).style.display='none';

				document.getElementById("plug-wrap").style.display='none';

			}

		}else{

			if($('#menu_list'+i)){

				$('#menu_list'+i).css('display','none');

			}

		}

	}

}

function closeall(){

	var count = document.getElementById("top_menu").getElementsByTagName("ul").length;

	for(i=0;i<count;i++){

		document.getElementById("top_menu").getElementsByTagName("ul").item(i).style.display='none';

	}

	document.getElementById("plug-wrap").style.display='none';

}



document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {

	WeixinJSBridge.call('hideToolbar');

});

</script> <style type="text/css">

body { margin-bottom:60px !important; }

a, button, input { -webkit-tap-highlight-color:rgba(255, 0, 0, 0); }

ul, li { list-style:none; margin:0; padding:0 }

.top_bar { position: fixed; z-index: 900; bottom: 0; left: 0; right: 0; margin: auto; font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif; }

.top_menu { display:-webkit-box; border-top: 1px solid #3D3D46; display: block; width: 100%; background: rgba(255, 255, 255, 0.7); height: 45px; display: -webkit-box; display: box; margin:0; padding:0; -webkit-box-orient: horizontal; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset; }

.top_bar .top_menu>li { -webkit-box-flex:1; background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))); ; -webkit-background-size:1px 100%, 1px 100%; background-size:1px 100%, 1px 100%; background-position: 1px center, 2px center; background-repeat: no-repeat; position:relative; text-align:center; width:33%; }

.top_menu>li:first-child { background:none; }

.top_bar .top_menu>li>a { line-height:45px; display:block; text-align:center; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); -webkit-box-flex:1; }

.top_bar .top_menu li a label { padding:0; font-size:14px; overflow:hidden; }

.top_bar .top_menu>li>a img { display: inline-block; height: 14px; width: 14px; margin-top:-2px; color: #fff; line-height: 40px; vertical-align:middle; }

.top_bar li:first-child a { display: block; }

.menu_font { padding: 0; position: absolute; z-index: 500; bottom: 60px; right: 10px; width: 100px; margin-left:0; background: red; border: 1px solid #3D3D46; border-radius: 5px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#697077), to(#3F434E), color-stop(60%, #464A53)); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.menu_font:before, .menu_font:after { content:""; display:inline-block; position:absolute; z-index:240; bottom:0; left: 80%; margin-left:-8px; margin-bottom:-16px; width:0; height:0; border:8px solid red; border-color:#3D3D46 transparent transparent transparent; }

.menu_font:after { z-index:501; border-color:#3F434E transparent transparent transparent; margin-bottom:-15px; margin-left:-8px; }

.menu_font.hidden { display:none; }

.top_menu li:last-of-type a { background: none; }

.top_menu>li:last-of-type>a label { padding: 0 0 0 3px; }

.menu_font li:first-child { background: none; }

.menu_font li { line-height:50px; text-align:center; background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.4))); background-size:100% 1px, 100% 1px; background-repeat:no-repeat; background-position: center 2px, center 1px; }

.menu_font li:last-of-type { border-bottom: 0; }

.menu_font li a { height: 50px; line-height: 50px !important; position: relative; color:#d5d5d5; text-decoration:none; text-shadow: 0 1px rgba(0, 0, 0, 0.6); display: block; width: 100%; text-align:center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

#menu_list0 { right:0; left:10px; }

#menu_list0:before, #menu_list0:after { left: 20%; }

#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }

#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }

.top_bar .top_menu>li>a:hover, .top_bar .top_menu>li>a:active { background-color:#333; }

.menu_font li a:hover, .menu_font li a:active { background-color:#333; }

.menu_font li:first-of-type a { border-radius:5px 5px 0 0; }

.menu_font li:last-of-type a { border-radius:0 0 5px 5px; }

#plug-wrap { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); z-index:800; }

#cate18 .device {bottom: 49px;}

#cate18 #indicator {bottom: 240px;}

#cate19 .device {bottom: 49px;}

#cate19 #indicator {bottom: 330px;}

#cate19 .pagination {bottom: 60px;}

</style>

 

<div id="sharemcover" onclick="document.getElementById(&#39;sharemcover&#39;).style.display=&#39;&#39;;" style=" display:none"><img src="./style14_files/MgnnofmleM.png"></div>



<div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">

  <nav>

    <ul id="top_menu" class="top_menu">
	
	<li><a href="html7.html"><label>首页</label></a>

    <li><a href="html2.html"><label>今日更新</label></a>

                </li><li><a href="html.html"><label>潮主玩奴全套</label></a>

                </li><li><a href="html8.html"><label>精品收藏</label></a>

                </li><li><a href="html5.html"><label>莫雨轩玩奴全套</label></a>
				
				 </li><li><a href="html6.html"><label>源儿爸爸玩奴全套</label></a>

                     </li>    </ul>

  </nav>

</div>

<div id="plug-wrap" onclick="closeall()" style="display: none;"></div> 

 </body>